//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 Education
//Part Number: GW5AT-LV60PG484AC1/I0
//Device: GW5AT-60
//Device Version: B
//Created Time: Fri 06 26 18:47:27 2026

IO_LOC "tmds_clk_p_0" G15,G16;
IO_PORT "tmds_clk_p_0" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tmds_d_p_0[2]" K17,J17;
IO_PORT "tmds_d_p_0[2]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tmds_d_p_0[1]" J15,H15;
IO_PORT "tmds_d_p_0[1]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tmds_d_p_0[0]" J14,H14;
IO_PORT "tmds_d_p_0[0]" IO_TYPE=LVDS25E PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "auto_led" C18;
IO_PORT "auto_led" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pull_up" A21;
IO_PORT "pull_up" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "auto_play" Y12;
IO_PORT "auto_play" IO_TYPE=LVCMOS33 PULL_MODE=UP PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "p2_down" F15;
IO_PORT "p2_down" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "p2_up" F19;
IO_PORT "p2_up" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "p1_down" D20;
IO_PORT "p1_down" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "p1_up" C20;
IO_PORT "p1_up" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "rstn" AA13;
IO_PORT "rstn" IO_TYPE=LVCMOS33 PULL_MODE=UP PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
IO_LOC "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
